{% extends "base.html" %}

{% block content %}
	
	<section class="contenido">
		<div class"prox_citas">
			<p>Proximas Citas</p>

				{% if citas == None %}

					<p>No tienes ninguna cita</p>

				{% else %}

				{% for c in citas %}
					<div class="item">
						<a href="/pacientes/cita/{{ c.slug }}">
							<div class="fecha">
								{{ c.date }}
							</div>
							{% if us_kind == 'paciente' %}
									<div class="doctor">
										<p><strong>Doctor: </strong>{{ c.doctor }}</p>
									</div>
								{% else %}
									<div class="paciente">
										<p><strong>Paciente: </strong>{{ c.patient }}</p>
									</div>
							<p>
						</a>
							{% if c.confirmed %}
								<form action="" method="post">
									<input type="button" value="Cancelar">
								</form>
							{% else %}
								<form action="" method="post">
									<input type="button" value="Confirmar">
								</form>
							{% endif %}
						{% endif %}
					</div>
				{% endfor %}
			{% endif %}

		</div>
		{% if us_kind == 'paciente' %}
			
		<div class="f_cita">
			<a href="/citas/tipos/"><p>Buscar una cita</p></a>
		</div>

		<div class="f_doctor">
			<a href="/doctores/"><p>Buscar un doctor</p></a>
		</div>

		{% else %}

		<div class="f_pacientes">
			<a href="/doctores/"><p>Buscar un paciente</p></a>
		</div>

		{% endif %}
	</section>

{% endblock content %}