{% extends "base.html" %}
{% block content %}
					<div class="cita_detalle">
						<div class="info">
							<p>Tipo: {{ object.kind }}</p>
							<p>Doctor: {{ object.doctor }}</p>
						</div>
						<div class="fecha">
							<p>Fecha: {{ object.date.date }}</p> 
							<p>Hora: {{ object.date.time }}</p>
						</div>
						<div class="adicional">
							<p>Comentarios: {{ object.comment }}</p>
							{% if object.confirmed %}
								Cita Confirmada, Recuerda la fecha y la hora
							{% else %}
								Esperando Confirmacion
							{% endif %}
						</div>
					</div>
{% endblock content %}